<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>Covid conferences</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    
    <script src = "index.js"></script>
    <link rel="stylesheet" href="index.css">
</head>


<body>
  <div class="sidenav">
    <div>
      Covid danger conference
    </div>
    <a href="#home">Home</a>
    <a href="#showcase">Showcase</a>
    <a href="#professor">Professors</a>
    <a href="#join">Sign up</a>
    <a href="#contact">Contact</a>
  </div>
  <div class="main-content">
    <h1 id="home">Covid-19</h1>
    <h2 id="subtitle">And it dangerousness</h2>
    <p class="small-title border" id="showcase">Showcase</p>
    <div class="show-container">
      <img src="https://i-english.vnecdn.net/2021/11/04/86f0moidatiemvaccine2371316360-6734-6897-1636029033_680x408.jpg">
      <img src="https://ca-times.brightspotcdn.com/dims4/default/03a7d2c/2147483647/strip/true/crop/6302x4200+0+0/resize/2000x1333!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F9f%2F4d%2F4889b8cf4147a1f3610cf17debac%2Fla-photos-1staff-537166-me-0507-houston-hospital-02-cmc.jpg">
      <img src="https://static.dw.com/image/54316110_101.jpg">
      <img src="https://static.independent.co.uk/2021/04/25/08/APTOPIX_Virus_Outbreak_India_43143.jpg">
      <img src="https://www.thenewsminute.com/sites/default/files/styles/slideshow_image_size/public/Corona_rep_1200_burial_4_Bengaluru.jpg">
      <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/0373/production/_118238800_d84c7458-2c60-4df7-ae8f-7ec19045fd22.jpg">
    </div>
    <p class="overview">Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.</p>
    <p class="overview">Most people infected with the virus will experience mild to moderate respiratory illness and recover without requiring special treatment. However, some will become seriously ill and require medical attention. Older people and those with underlying medical conditions like cardiovascular disease, diabetes, chronic respiratory disease, or cancer are more likely to develop serious illness. Anyone can get sick with COVID-19 and become seriously ill or die at any age. </p>
    <p class = "overview">The best way to prevent and slow down transmission is to be well informed about the disease and how the virus spreads. Protect yourself and others from infection by staying at least 1 metre apart from others, wearing a properly fitted mask, and washing your hands or using an alcohol-based rub frequently. Get vaccinated when it’s your turn and follow local guidance</p>
    <p class="overview">The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough, sneeze, speak, sing or breathe. These particles range from larger respiratory droplets to smaller aerosols</p>
    <p class="small-title border" id="professor">Professors</p>
    <p>List of highly professional speakers</p>
    <p>With years of experience in medical field, these professors will provide you with the most accurate information about the pandemic</p>
    <div class="des-container">
      <div class="des-card">
        <img src="./img/team1.jpg">
        <h2>Marry Fowker</h2>
        <h3>Doctor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis explicabo ad optio provident distinctio iste quasi saepe, recusandae, asperiores adipisci expedita laborum ipsam dolorem ut pariatur, iusto quo dolores?</p>
      </div>
      <div class="des-card">
        <img src="./img/team2.jpg">
        <h2>Brian Foy</h2>
        <h3>Doctor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis explicabo ad optio provident distinctio iste quasi saepe, recusandae, asperiores adipisci expedita laborum ipsam dolorem ut pariatur, iusto quo dolores?</p>
      </div>
      <div class="des-card">
        <img src="./img/team3.jpg">
        <h2>Salih Emir</h2>
        <h3>Doctor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis explicabo ad optio provident distinctio iste quasi saepe, recusandae, asperiores adipisci expedita laborum ipsam dolorem ut pariatur, iusto quo dolores?</p>
      </div>
    </div>
    <p class="small-title border" id="join">Participate</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium aperiam natus adipisci illo corrupti eaque accusamus ipsa asperiores, obcaecati nostrum nulla porro, laudantium quisquam fugit eos deserunt consectetur delectus omnis?</p>
    <div class="package-container">
      <div class="package-card">
        <h2 class="package-header orange">Join us now</h2>
        <p>Newly update information</p>
        <p>Online meeting</p>
        <p>With souvenir</p>
        <p>Every saturday</p>
        <p><b>Only require to sign up account once</b></p>
        <form action="/signup">
        <p><button class="orange">Sign up</button></p>
        </form>
      </div>
      
    </div>
    <p class="small-title border" id= "contact">Contact</p>
    <p>Contac us for more information</p>
    <div class ="contact-container">
      <form>
        <label for="fname">Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Enter your name..">
    
        <label for="lname">Email</label>
        <input type="text" id="lname" name="lastname" placeholder="Enter your email..">
    
        <label for="textarea">Messages</label>
        <textarea  id="textarea" name="textarea" placeholder="Enter your messages here.."></textarea>
        
        <input type="submit" value="Send">
      </form>
    </div>
  </div>
</body>

</html>
