body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 300px;
    height: 440px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #26242e;
    overflow: hidden;
}

.container img{
    z-index: 1;
    width: 300px;
    height: 440px;
}
.container::before{
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px !important;
    height: 440px;
    background: url('https://meta.vn/Data/image/2021/09/30/background-la-gi-anh-background-dep-9.png') center / cover;
    background-repeat: no-repeat; 
    opacity: 0.1;
}
.content-box{
    position: absolute;
    z-index: 1;
    bottom:7px;
    width: 255px;
    height: 100px;
    color: #fff;
    padding: 0 7px;
    font-family: 'Poopins', sans-serif;
    border-radius: 10px 10px 15px 15px;
    backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.3);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-box p{
    color:#1c151c;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
}
.content-box:hover{
    visibility: visible;
    height: 280px;
}
.content-box:hover p{
    visibility: visible;
    position: relative;
}

.button{
    width: 240px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -10px;
}
.price{
    margin-top: 8px;
}
.button button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Poopins', sans-serif;
    font-weight: bold;
    background: #f7b22c;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    border-radius: 7px;
    
}