<head>
    <title>Add user</title>
<style>
    body{
        background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg');
        background-size: 100%;
    }
    .card {
        margin: 100px auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
</style>
</head>
<body>
    {{> user_form action='adduser'}}
</body>